<div class="">
  <div style="height: 100vh">
    <div class="">
      <div
        class="shadow w-50 p-5 position-absolute top-50 start-50 translate-middle"
      >
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
          <h4 class="display-8 text-center py-2">College Database</h4>
          <br />
          <div class="form-group">
            <label for="id">College ID</label>
            <input
              type="number"
              #id
              (ngModel)="(id)"
              name="id"
              id="id"
              class="form-control"
              placeholder="Enter College ID"
            />
          </div>
          <br />

          <div class="form-group">
            <label for="name">College Name</label>
            <input
              type="text"
              #name
              (ngModel)="(name)"
              name="name"
              id="name"
              class="form-control"
              placeholder="Enter College Name"
            />
          </div>
          <br />

          <div class="form-group">
            <label for="location">College Location</label>
            <input
              type="text"
              #location
              (ngModel)="(location)"
              name="location"
              id="location"
              class="form-control"
              placeholder="Enter College Location"
            />
          </div>
          <br />

          <!-- <div class="form-group">
            <label for="admin">College Admin</label>
            <input
              type="text"
              #admin
              (ngModel)="(admin)"
              name="admin"
              id="admin"
              class="form-control"
              placeholder="Enter the Admin Name"
            />
          </div>
          <br /> -->

          <div class="form-group">
            <input
              type="submit"
              value="Register"
              class="btn btn-primary w-30"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
  <br />

  <div class="mt-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>College ID</th>
          <th>College Name</th>
          <th>College Location</th>
          <th>College Admin</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let college of collegeDetails">
          <td>{{ college.id }}</td>
          <td>{{ college.name }}</td>
          <td>{{ college.location }}</td>
          <!-- <td>{{ college.admin }}</td> -->
          <td>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="edit(college)"
            >
              Edit
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
            >
              Delete
            </button>
          </td>

          <div
            class="modal fade"
            id="staticBackdrop"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">
                    Confirmation
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <h4>Do you want to delete the record ?</h4>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                  >
                    No
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="deleteColleges(college)"
                    data-bs-dismiss="modal"
                    onclick="window.location.reload()"
                  >
                    Yes
                  </button>
                </div>
              </div>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Update College Information
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm" (ngSubmit)="updateCollege()">
          <div class="form-group">
            <label for="id">College ID</label>
            <input
              type="text"
              #id
              [(ngModel)]="collegeToUpdate.id"
              name="id"
              id="id"
              class="form-control"
              placeholder="Enter College ID"
            />
          </div>
          <br />

          <div class="form-group">
            <label for="name">College Name</label>
            <input
              type="text"
              #name
              [(ngModel)]="collegeToUpdate.name"
              name="name"
              id="name"
              class="form-control"
              placeholder="Enter College Name"
            />
          </div>
          <br />

          <div class="form-group">
            <label for="location">College Location</label>
            <input
              type="text"
              #location
              [(ngModel)]="collegeToUpdate.location"
              name="location"
              id="location"
              class="form-control"
              placeholder="Enter College Location"
            />
          </div>
          <br />
<!-- 
          <div class="form-group">
            <label for="admin">College Admin</label>
            <input
              type="text"
              #admin
              [(ngModel)]="collegeToUpdate.admin"
              name="admin"
              id="admin"
              class="form-control"
              placeholder="Enter the Admin Name"
            />
          </div>
          <br /> -->

          <div class="form-group">
            <input
              type="submit"
              value="Update"
              class="btn btn-primary w-100"
              onclick="window.location.reload()"
              data-bs-dismiss="modal"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
